/* Variables */
:root {
    --color-primary: rgba(39, 139, 235);
    --color-primary-light: rgba(39, 139, 235, 75%);
    --color-dark-gray: rgba(50, 50, 50, 0.5);
    --color-black: #1a1a1a;
    --color-white: #fff;
    --very-light-gray: #fafafa;

    --transition: 300ms ease;
}

/* Resets */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: 'REM', serif;
    line-height: 1.3;
    letter-spacing: 0.15rem;
    color: var(--color-black);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    display: block;
    width: 100%;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    background: none;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* Utilities */
.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.btn{
    background-color: var(--color-primary);
    padding: .7em 2em;
    font-family: "REM", serif;
    color: var(--color-white);
    border-radius: 5px;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: var(--color-primary-light);
}

/* Small screens */
body {
    background-color: var(--very-light-gray);
    color: var(--color-black);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

/* Navbar start */
.nav {
    padding: 2.3rem 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "REM", serif;
    font-size: 3.3rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    position: fixed;
    top: var(--page-header-height, 7.8rem);
    left: 100%;
    width: 100vw;
    height: calc(100vh - var(--page-header-height));
    background-color: var(--color-black);
    transition: left var(--transition);
}

.nav-menu.open {
    left: 0;
}


.nav-menu__item:nth-of-type(1){
    margin-top: 5rem;
}


.nav-menu__item-link{
    display: inline-block;
    background-color: var(--color-dark-gray);
    padding: .5em 1em;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
    transition: background-color var(--transition);
}

.nav-menu__item-link:active{
    background-color: var(--color-primary);
}

.hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger__close {
    display: none;
}

.hamburger.is-active .hamburger__open {
    display: none;
}

.hamburger.is-active .hamburger__close {
    display: block;
}
/* Navbar end */

/* Hero start */
.hero{
    background:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url("images/hero-image.jpg") top no-repeat;
    background-size: cover;
    height: calc(100vh - var(--page-header-height));

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__texts{
    text-align: center;
    padding-inline: 4rem;
}

.hero__main-text, .hero__sub-text{
    color: var(--color-white);
    margin-bottom: 2rem;
}



/* Medium screens */
@media (min-width: 720px) {
     /* Nav start ===== */
     .nav-menu {
        position: static;
        flex-direction: row;
        align-items: center;
        column-gap: 2.6rem;

        width: fit-content;
        height: fit-content;
        background-color: transparent;
    }

    .nav-menu__item:nth-of-type(1){
        margin-top: 0;
    }

    .nav-menu__item-link {
        background-color: transparent;
        padding: 0;
        font-weight: 400;
        color: var(--color-black);
        transition: color var(--transition);
    }

    .nav-menu__item-link:focus,
    .nav-menu__item-link:hover {
        color: var(--color-primary);
    }

    .hamburger {
        display: none;
    }

    /* Nav end*/

    /* Hero start */
    .hero__texts{
        max-width: 50rem;
    }
    
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 0.3rem;
    }

    body{
        font-size: 1.8rem;
    }  
}